html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: #151515 url('images/bg2.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Noto Sans', sans-serif;
}

/*--header
----------------*/
.header {
  padding:170px 30px 80px;
}
.site-title {
  margin: 50px 0;
  font-size: 6rem;
}
.main-nav {
  display: flex;
  margin: 50px;
  font-size: 1.75rem;
  text-transform: uppercase;
  list-style: none;
  justify-content: center;
}
.main-nav li {
  margin-left: 60px;
}
.main-nav a {
  color: #fff;
}
.main-nav a:hover {
  color: #f0821e;
}




.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 3rem;
}

.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #fff;
}

.heading2 {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 3rem;
}

.heading2::before,
.heading2::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #000;
}








/*--about
------------------*/

.about-container {
margin: 20px 200px;
}



.about {
  padding: 60px 40px;
  background-color: #000;
  background-size: cover;
  font-size: 2rem;
}



/*--profile
---------------*/
.profile {
  color: #000;
  background-color: #fff;
  background-size: cover;
  padding: 30px 0;
}
.prof-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: #000;
}
.name {
  font-size: 3rem;
}
.prof-img {
  margin: 20px 20px 20px 250px;
}
.prof-text {
  background: #fff;
  text-align: left;
  padding: 0 100px 0 30px;
}

/*--work
--------------*/
.work {
  color: #fff;
  background-color: #000;
  background-size: cover;
  padding: 100px;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 30px;
}

.work-img {
  margin-top: 50px;
  border: 1px solid #000;
  width: 500px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
}
.work-img img {
  width: 100%;
  transition-duration: 0.5s;
}
.work-img:hover img  {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.work-text {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: 50px;
  background: #000;
}
.work-text p {
  font-size: 1.2rem;
  text-align: left;
  color: #c76781;;
}
.work-text li {
  list-style: none;
  text-align: left;
}

.w-title {
  font-size: 2rem;
  margin: 20px 400px 20px 0;
  color: #b50099;
  letter-spacing: 2px;
}
/*work-text2
-----------------*/
.w-title2 {
  font-size: 2rem;
  margin: 20px;
  color: #f0821e;
}
.work-text2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: 50px;
  background: #000;
}
.work-text2 p {
  font-size: 1.2rem;
  text-align: left;
  color: #fff0c2;
}
.work-text2 li {
  list-style: none;
  text-align: left;
}
/*---SKILL
------------*/
.skill {
  color: #000;
  background-color: #fff;
  background-size: cover;
  padding: 30px 0;
}
.skill-container {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
}
.icon {
  filter: drop-shadow(5px 5px 5px rgba(250, 166, 26, 0.8));
}


.skill-title {
  margin-top: 10px;

}
.skill-text {
  text-align: left;
  margin: 10px 30px;
  font-size: 1.4rem;
  margin-top: 30px;
}


/*--other
------------*/

.other {
  font-size: 1.6rem;
  background-color: #000;
  background-size: cover;
  padding: 100px 200px;
}
.other-container {
  margin: 50px 0;
}
.other-container li {
list-style: none;
text-align: left;
line-height: 30px;
margin: 10px;
}
.other-container p {
  margin-top: 50px;
  text-align: left;
}
.sns-container {
  width: 88%;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.sns-icon {
  margin: 20px;
}




/*--footer
--------------*/






/*-- @media
---------------------------------------*/
@media (max-width: 1024px) {
  background-image: none;
}

@media (max-width: 768px) {


  body {  
    background-position: center;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 60px;
  }
  .site-title {
    margin-top: 60px;
    font-size: 4rem;
  }
  .header {
    padding-top: 60px;
  }
  .heading {
    font-size: 2rem;
  }
  .heading2 {
  font-size: 2rem;
  }
  .main-nav {
    display: block;
    padding: 0;
    margin: 0;
    width: 90%;
    line-height: 70px;
  }

/*--about--*/
  .about-container {
    margin: 10px 10px;
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: left;
  }
  .about {
    padding: 60px 50px;
    background-color: #000;
    background-size: cover;
    font-size: 1.2rem;
  }

/*--profile
-----------------*/
  .prof-container {
    display: block;
    background: #fff;
    color: #000;
  }
  .name {
    font-size: 2rem;
  }
  .prof-img {
    margin: 1px;
  }
  .prof-img img {
    width: 150px;
    height: auto;
  }
  .prof-text {
    background: #fff;
    text-align: left;
    padding: 10px 40px;
    text-align: left;
  }

/*--work-
----------------*/
.work {
  color: #fff;
  background-color: #000;
  background-size: cover;
  padding: 60px 20px;
}
.work-container {
  display: block;
}
.work-img {
  margin-top: 10px;
  border: 1px solid #000;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.work-img img {
  width: 100%;
  height: auto;
  margin-top: 60px;
  transition-duration: 0.5s;
}
.work-img:hover img  {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.work-text {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 50px;
  background: #000;
}
.work-text p {
  padding: 10px;
  font-size: 1.0rem;
  text-align: left;
  color: #c76781;
}
.w-title {
  font-size: 1.6rem;
  margin: 20px;
  padding-bottom: 10px;
  color: #b50099;
  letter-spacing: 2px;
}
.work-text li {
  list-style: none;
  text-align: left;
  font-size: 1rem;
}


.work-text2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 50px;
  background: #000;
}
.work-text2 p {
  padding: 10px;
  font-size: 1.0rem;
  text-align: left;
  color: #fff0c2;
}
.w-title2 {
  font-size: 1.4rem;
  margin: 20px;
  padding-bottom: 10px;
  color: #f0821e;
  letter-spacing: 2px;
}
.work-text2 li {
  list-style: none;
  text-align: left;
  font-size: 1rem;
}
/*--skill
---------------*/
.skill-box {
  display: block;
}
.icon {
  margin-top: 70px;
  filter: drop-shadow(5px 5px 5px rgba(250, 166, 26, 0.8));
}

.skill-text {
  text-align: left;
  margin: 10px 30px;
  font-size: 1.2rem;
  margin-top: 30px;
}
.other-container li {
list-style: none;
text-align: left;
line-height: 30px;
margin: 30px;
}

/*--other
---------------*/
.other {
  font-size: 1.2rem;
  background-color: #000;
  background-size: cover;
  padding: 10px 50px;
}
}
