//
// ベースのスタイル
//


// 変数
$white: #fafdff;
$black: #111;
$navy: #0f1626;
$pink: #fef4f4;
$dark-pink: #d379a0;




// PC表示ベーススタイル
html {
    font-size: 62.5%;
}

h1{
    font-family: 'Dancing Script', 小塚 Gothic Pr6N R , sans-serif;
    justify-content: center;
    text-align: left;
    font-size: 3.4rem;
    font-weight: 200;
    
}

body {
    font-family: 'Gill Sans', 小塚　gothic　pr6n, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: $black;
    background-color: $white;

    //SP表示
    @media (max-width: 769px) {
        font-size: 1.4rem;
    }
}

a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}