
.big-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/PC-TOP.jpg);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



.page-header {
    height: 5rem;
    background-color: $white;
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 10px 30px;
    
}

.main-nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.phrases {
    margin-top: 20%;
    text-align: center;
    justify-content: center;
    p {
        font-size: 2.4rem;
        margin: 0;
    }
}

